# dependencies
.pnp
.pnp.js

# testing
coverage
tests
test-loader.js
test-loader-hooks.js

# production
build
report
alfa

# config
.github
.browserslistrc
.eslint*
*.config.js
*.config.ts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tmp
*.swo
*.swp
*.diff
*.log
*.patch

.idea
.vscode
.cache-loade
.history

# docs
docs
vite.docs.config.ts
scripts
plugins
tsconfig.json
